*.log
.git*
.travis.yml
.npmrc
src
build/v1/*
test
Configfile
npm-shrinkwrap.json
README.md
**/*.test.js*
**/__snapshots__/**
.build-harness
Makefile*
Dockerfile*
build-harness
copyright-check.sh
jest.config.js
manifest.yaml
state
test-output
travis-env.sh
.dockerignore
.eslint*
.nvmrc
package.json